.app {
  display: flex;
  flex-direction: column;
}

.app-title {
  font-size: 1.2rem;
  user-select: none;
  width: fit-content;
}

.image-drop {
  padding: 10px;
  background-color: gray;
}

.image-drop.drag-over {
  background-color: lightgray;
  color: black;
}
