.app {
  display: flex;
  flex-direction: column;
}

.app-title {
  user-select: none;
  width: fit-content;
}

.image-drop {
  padding: 10px;
  background-color: gray;
}

.image-drop.drag-over {
  background-color: lightgray;
  color: black;
}

.editor-canvas {
  user-select: none;
}

.editor-toolbar {
  display: flex;
  background-color: whitesmoke;
  padding: 0 10px;
  width: 100%;
}

.svg-canvas {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
}

.texture {
  position: relative;
}

.texture-rect {
  position: absolute;
  top: 0;
  left: 0;
}
