.grid-background {
  position: absolute;
  top: 0;
  left: 0;
}

.region {
  position: relative;
  width: 50%;
  height: 100vh;
  overflow: hidden;
  color: black;
  user-select: none;
}

.region:focus {
  outline: none;
}

.region-content {
  transform-origin: 0 0;
}

.region-toolbar {
  position: relative;
  z-index: 1;
}

.region-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
}

.region-button {
  padding: 2px;
}
