.region {
  position: relative;
  width: 50%;
  height: 100vh;
  border: 1px solid grey;
  overflow: hidden;
  color: black;
  user-select: none;
}

.region:focus {
  outline: none;
}

.region-content {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0;
}

.region-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
