.region {
  position: relative;
  width: 800px;
  height: 600px;
  border: 1px solid grey;
  overflow: hidden;
  color: black;
  user-select: none;
}

.region-content {
  position: absolute;
  top: 0;
  left: 0;
}
