.texture {
  position: relative;
}

.texture-rect {
  position: absolute;
  top: 0;
  left: 0;
}

.texture-toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: whitesmoke;
  padding: 0 10px;
  width: 100%;
  padding: 5px;
}

.texture-form {
  padding: 4px;
}
